<html>
    <body>
        <form method="POST">
            {% csrf_token %}
            <label>{{form.username.label}}</label>
            {{form.username}}

            <label>{{form.password1.label}}</label>
            {{form.password1}}
    
            <label>{{form.password2.label}}</label>
            {{form.password2}}

            <input class="button" type="submit" value="Register">
        </form>
        <p>Already have an account? <a href="http://127.0.0.1:8000/login/">Login</a></p>
    </body>
</html>